<div data-role="page">

    <div data-role="header">
        <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Number Systems</h1>

    </div>
    <!-- /header -->

    <div data-role="content">
        <h3>Decimal</h3>
        From the very beginning, people have used their fingures to count.

        It's no coincidence that the word digit can refer to fingures or toes as well as numbers or that the words five
        and fist have similar roots.

        So in that sense, using a base-ten, or decimal (from the Latin for ten), number system is completely arbitrary.

        The number system we use today is known as the Hindu-Arabic or Indo-Arabic. It's of Indian Origin.

        The Hindu-Arabic system is said to be positional, which means that a particular digit represents a different
        quantity depending on where it is found in the number.

        There is no special symbol for ten. The way we count in the decimal number system is 0,1,2,3,4,5,6,7,8,9 and
        then 10.

        The zero of the Hindu-Arabic system is without a doubt one of the most important inventions in the history of
        numbers and mathematics. It supports positional notation because it allows differentiation of 25 from 205 and
        250.

        <h3>Binary</h3>
        Since childhood, we have learned to do our computations using the numbers 0 - 9, the digits of the decimal
        number system.

        While it is fine for us to use ten digits for our computations, computers do not have this luxury. Every
        computer processor is made of millions of tiny switches that can be turned off or on. Since these switches only
        have two states, it makes sense for a computer to perform its computations with a number system that only has
        two digits: the binary number system. These digits (0 and 1) are called bits and correspond to the off/on
        positions of the switches in the computer processor. With only these two digits, a computer can perform all the
        arithmetic that we can with ten digits.


        The binary number system plays a central role in how information of all kinds is stored on computers.
        Understanding binary can lift a lot of the mystery from computers, because at a fundamental level they're really
        just machines for flipping binary digits on and off.

        <h3>Quaternary</h3>
        Quaternary is the base-4 numeral system. It uses the digits 0, 1, 2 and 3 to represent any real number.
        It shares with all fixed-radix numeral systems many properties, such as the ability to represent any real number
        with a canonical representation (almost unique) and the characteristics of the representations of rational
        numbers and irrational numbers

        Hilbert curves

        Quaternary numbers are used in the representation of 2D Hilbert curves. Here a real number between 0 and 1 is
        converted into the quaternary system. Every single digit now indicates in which of the respective 4
        sub-quadrants the number will be projected.

        Genetics

        Parallels can be drawn between quaternary numerals and the way genetic code is represented by DNA. The four DNA
        nucleotides in alphabetical order, abbreviated A, C, G and T, can be taken to represent the quaternary digits in
        numerical order 0, 1, 2, and 3.
        For example, the nucleotide sequence GATTACA can be represented by the quaternary number 2033010 (= decimal
        9156).

        Data transmission

        Quaternary line codes have been used for transmission, from the invention of the telegraph to the 2B1Q code used
        in modern ISDN circuits.
        <h3>Octal</h3>
        The octal, or base 8, number system is a common system used with computers. Because of its relationship with the
        binary system, it is useful in programming some types of computers.
        The octal numeral system, or oct for short, is the base-8 number system, and uses the digits 0 to 7. Numerals
        can be made from binary numerals by grouping consecutive binary digits into groups of three (starting from the
        right). For example, the binary representation for decimal 74 is 1001010, which can be grouped into (00)1 001
        010 – so the octal representation is 112.
        In decimal systems each decimal place is a base of 10. For example:

        In octal numerals each place is a power with base 8. For example:

        By performing the calculation above in the familiar decimal system we see why 112 in octal is equal to 64+8+2 =
        74 in decimal.

    </div>
    <!-- /content -->

</div><!-- /page -->