<div data-role="page">

    <div data-role="header">
        <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Sorting Algorithms</h1>
        <a href="sort_home.html" data-role="button" data-icon="home" data-iconpos="notext" data-theme="a" data-inline="true"
           title="My button" class="ui-btn ui-btn-inline ui-btn-icon-notext ui-btn-up-a"><span
                class="ui-btn-inner"><span class="ui-btn-text">Home</span><span
                class="ui-icon ui-icon-home ui-icon-shadow"></span></span></a>
    </div>
    <!-- /header -->

    <div data-role="content">

        <div data-role="controlgroup" class="ui-corner-all ui-controlgroup ui-controlgroup-vertical">
            <a href="insertion_sort.html" data-role="button" data-theme="c" class="ui-btn ui-corner-top ui-btn-up-c"><span
                    class="ui-btn-inner ui-corner-top"><span class="ui-btn-text">Insertion Sort</span></span></a>
            <a href="index.html" data-role="button" data-theme="c" class="ui-btn ui-btn-up-c"><span
                    class="ui-btn-inner"><span class="ui-btn-text">Bubble Sort</span></span></a>
            <a href="index.html" data-role="button" data-theme="c"
               class="ui-btn ui-corner-bottom ui-controlgroup-last ui-btn-up-c"><span
                    class="ui-btn-inner ui-corner-bottom ui-controlgroup-last"><span
                    class="ui-btn-text">Heapsort</span></span></a>
        </div>
    </div>
</div>